/* --- Global Reset & Layout --- */
#App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: 'Nunito', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.main-content {
  flex-grow: 1;
  padding: 20px 40px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Divider Utility */
.divider {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, var(--ui-header), transparent);
    margin: 20px 0;
    width: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: column; /* Stacks contents inside it vertically */
    flex-grow: 1;           /* Tells it to fill the entire rest of the screen */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;       /* Allows the right side to scroll independently */
    background: var(--bg-color);
}